body {
    background-color: var(--background-color);
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

p {
    color: var(--secondary-color);
}

#game-choose {
    font-size: 20px;
    color: var(--secondary-color);
}

.game-img{
    height: 250px;
    width: auto;
}

.color-primary{
    color: var(--primary-color)  !important;
}

.color-secondary{
    color: var(--secondary-color)  !important;
}

.color-background{
    color: var(--background-color)  !important;
}