:root{
    --heading-color: #FFC240;
}

.container-fluid{
    margin-top: 5%;
    margin-bottom: 4%;
}

body{
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
    background-color: var(--background-color);
    
}


header{
  padding: 20px;
 }

header > h1 {
  text-align: center;
  color: var(--primary-color)
}



.container{
    text-align: center;

}

h1{
    text-align: center;
    margin-bottom: 50px;
}

#board{
    color: var(--primary-color);
}

#score{
    color: #73042F;
    margin-right: 15px;
    font-size: 1.7rem;
}

#choice{
    color: #BB5273;
    font-size: 1.7rem;
}

.person-img{
    height: 45px;
    width: auto;
    border-radius: 50%;
}

.chat{
    height: 60px;
    border-bottom: 1px solid var(--secondary-color);
}

#scoreboard-title{
    color: var(--heading-color) !important;
}

#chatbar-title{
    color: var(--heading-color);
    border-bottom: 1px solid var(--primary-color);
    text-align: left;
}

#sidebar{
    text-align: left !important;
}